<div class="row title-wrapper">
  <div class="col">
    <h1>{{title}}</h1>
  </div>
  <div class="col-auto mt-2 mr-4">
    <div class="btn-group">
      <button form="ngParticipantForm" type="submit" class="btn btn-primary" [disabled]="participantForm.invalid">Guardar</button>
      <button form="ngParticipantForm" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"  [disabled]="participantForm.invalid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onSubmit(true)">Guardar e Imprimir</a>
      </div>
    </div>
    <button (click)="onCancel()" class="btn btn-link">Cancelar</button>
  </div>
</div>
<form [formGroup]="participantForm" (ngSubmit)="onSubmit(false)" id="ngParticipantForm">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="form-group row">
        <label for="registeredAt" class="col-4 col-form-label">Fecha de registro</label>
        <div class="col-8">
          <input type="date" id="registeredAt"
                            class="form-control"
                            [ngClass]="{'is-invalid': participantForm.get('registeredAt').errors && (participantForm.get('registeredAt').dirty || participantForm.get('registeredAt').touched)}"
                            formControlName="registeredAt">
          <div class="invalid-feedback" *ngIf="participantForm.get('registeredAt').errors && (participantForm.get('registeredAt').dirty || participantForm.get('registeredAt').touched)">
            El participante debe tener una fecha de registro válida.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="names" class="col-4 col-form-label">Nombres</label>
        <div class="col-8">
          <input type="text" id="names"
                            class="form-control"
                            [ngClass]="{'is-invalid': participantForm.get('names').errors && (participantForm.get('names').dirty || participantForm.get('names').touched)}"
                            formControlName="names">
          <div class="invalid-feedback" *ngIf="participantForm.get('names').errors && (participantForm.get('names').dirty || participantForm.get('names').touched)">
            El participante debe tener un nombre.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="firstSurname" class="col-4 col-form-label">Ap. Paterno</label>
        <div class="col-8">
          <input type="text" id="firstSurname"
                            class="form-control"
                            [ngClass]="{'is-invalid': participantForm.get('firstSurname').errors && (participantForm.get('firstSurname').dirty || participantForm.get('firstSurname').touched)}"
                            formControlName="firstSurname">
          <div class="invalid-feedback" *ngIf="participantForm.get('firstSurname').errors && (participantForm.get('firstSurname').dirty || participantForm.get('firstSurname').touched)">
            El participante debe tener un apellido.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="lastSurname" class="col-4 col-form-label">Ap. Materno</label>
        <div class="col-8">
          <input type="text" id="lastSurname"
                            class="form-control"
                            [ngClass]="{'is-invalid': participantForm.get('lastSurname').errors && (participantForm.get('lastSurname').dirty || participantForm.get('lastSurname').touched)}"
                            formControlName="lastSurname">
          <div class="invalid-feedback" *ngIf="participantForm.get('lastSurname').errors && (participantForm.get('lastSurname').dirty || participantForm.get('lastSurname').touched)">
            El participante debe tener un apellido.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="phone" class="col-4 col-form-label">Teléfono</label>
        <div class="col-8">
          <input type="number" id="phone"
                            class="form-control"
                            [ngClass]="{'is-invalid': participantForm.get('phone').errors && (participantForm.get('phone').dirty || participantForm.get('phone').touched)}"
                            formControlName="phone">
          <div class="invalid-feedback" *ngIf="participantForm.get('phone').errors && (participantForm.get('phone').dirty || participantForm.get('phone').touched)">
            El participante debe tener un número de teléfono válido.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-4 col-form-label">E-mail</label>
        <div class="col-8">
          <input type="text" id="email"
                            class="form-control"
                            [ngClass]="{'is-invalid': participantForm.get('email').errors && (participantForm.get('email').dirty || participantForm.get('email').touched)}"
                            formControlName="email">
          <div class="invalid-feedback" *ngIf="participantForm.get('email').errors && (participantForm.get('email').dirty || participantForm.get('email').touched)">
            El participante debe tener un email válido.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="attended" class="col-4 col-form-label">Asistió</label>
        <div class="col-8">
          <input type="checkbox" id="attended"
                 [value]="attended"
                  class="form-control"
                 formControlName="attended">
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 form-group">
      <div class="form-group row">
        <label for="categoryName" class="col-4 col-form-label">Categoría</label>
        <div class="col-8">
          <select class="form-control" id="categoryName" (change)=calculatePayment() formControlName="categoryName" [(ngModel)]="categoryName">
            <option *ngFor="let categorie of categories">
                 {{categorie.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="modality" class="col-4 col-form-label">Modalidad</label>
        <div class="col-8">
          <select class="form-control" (change)=calculatePayment()  id="modality" [(ngModel)]="participant.modality" formControlName="modality">
            <option *ngFor="let modality of modalities">
                 {{modality}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="lunch" class="col-4 col-form-label">Almuerzo</label>
        <div class="col-8">
          <input type="checkbox" id="lunch"
                 [value]="lunch"
                 (change)="submitLunchUpdate($event.target.checked)"
                  class="form-control"
                 formControlName="lunch">
        </div>
      </div>
      <div class="form-group row">
        <label for="discount" class="col-4 col-form-label">Descuento</label>
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-addon">BOB</div>
              <input  type="number"
                      id="discount"
                      class="form-control"
                      (change)=calculatePayment()
                      [(ngModel)]="participant.discount"
                      [ngClass]="{'is-invalid': participantForm.get('discount').errors && (participantForm.get('discount').dirty || participantForm.get('discount').touched)}"
                      formControlName="discount">
          </div>
          <div class="invalid-feedback" *ngIf="participantForm.get('discount').errors && (participantForm.get('discount').dirty || participantForm.get('discount').touched)">
            El descuento debe ser positivo.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="toPay" class="col-4 col-form-label">A Pagar</label>
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-addon">BOB</div>
              <input  type="number"
                      id="toPay"
                      [(ngModel)]="currentTotalToPay"
                      class="form-control"
                      formControlName="toPay">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="toPay" class="col-4 col-form-label">Pagado</label>
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-addon">BOB</div>
              <input  type="number"
                      id="totalPaid"
                      [ngClass]="currentTotalToPay > totalPaid ? 'bg-danger' : 'bg-success'"
                      [(ngModel)]="totalPaid"
                      class="form-control text-white"
                      formControlName="totalPaid">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="socialReason" class="col-4 col-form-label">Razón Social</label>
        <div class="col-8">
          <input type="text" id="socialReason"
                            class="form-control"
                            [ngClass]="{'is-invalid': participantForm.get('socialReason').errors && (participantForm.get('socialReason').dirty || participantForm.get('socialReason').touched)}"
                            formControlName="socialReason">
          <div class="invalid-feedback" *ngIf="participantForm.get('socialReason').errors && (participantForm.get('socialReason').dirty || participantForm.get('socialReason').touched)">
            El participante debe contener una razón social.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="nit" class="col-4 col-form-label">Nit</label>
        <div class="col-8">
          <input type="number" id="nit"
                            class="form-control"
                            [ngClass]="{'is-invalid': participantForm.get('nit').errors && (participantForm.get('nit').dirty || participantForm.get('nit').touched)}"
                            formControlName="nit">
          <div class="invalid-feedback" *ngIf="participantForm.get('nit').errors && (participantForm.get('nit').dirty || participantForm.get('nit').touched)">
            El participante debe tener un nit.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="note" class="col-4 col-form-label">Glosa</label>
        <div class="col-8">
          <input type="text" id="note"
                            class="form-control"
                            [ngClass]="{'is-invalid': participantForm.get('note').errors && (participantForm.get('note').dirty || participantForm.get('note').touched)}"
                            formControlName="note">
          <div class="invalid-feedback" *ngIf="participantForm.get('note').errors && (participantForm.get('note').dirty || participantForm.get('note').touched)">
            El participante debe tener una glosa.
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
