<td class="align-middle">{{event.name}}</td>
<td class="align-middle">
  <button class="btn btn-light" ngbTooltip="Participantes" (click)=onShowParticipants()>
    <i class="fa fa-user" aria-hidden="true"></i>
  </button>
  <button class="btn btn-light" ngbTooltip="Editar" (click)=onEditEvent()>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </button>
  <button class="btn btn-light" ngbTooltip="Eliminar" (click)=onDeleteEvent()>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </button>
</td>
