<nav class="hidden-print navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="hidden-print navbar-brand" routerLink="/events">PMI Eventos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-labels="Alternar navegación">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/events">Eventos <span class="sr-only">(activo)</span></a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/check-in">Check-In</a>
      </li> -->
    </ul>
  </div>
</nav>
