<td>{{participant.firstSurname}}</td>
<td>{{participant.lastSurname}}</td>
<td>{{participant.names}}</td>
<td>{{participant.registeredAt | date }}</td>
<td>{{participant.names}}</td>
<td>{{participant.names}}</td>
<td>{{participant.names}}</td>
<td>
  <button class="btn btn-secondary" (click)=onNewParticipant()>
    <i class="fa fa-user-o" aria-hidden="true"></i>
  </button>
  <button class="btn btn-secondary" (click)=onNewParticipant()>
    <i class="fa fa-user-o" aria-hidden="true"></i>
  </button>
  <button class="btn btn-secondary" (click)=onNewParticipant()>
    <i class="fa fa-user-o" aria-hidden="true"></i>
  </button>
  <button class="btn btn-secondary"(click)=onEditParticipant() >
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </button>
  <button class="btn btn-secondary" (click)=onDeleteParticipant()>
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</td>
