.participantCopy {
  z-index: 9999;
  position: relative;
  margin: -150px auto 0;
  /*margin: 0px auto 0;*/
}

.participantCopy textarea {
  text-transform: uppercase;
  font-family:'Arial';
  text-align: center;
  font-size: 30px;
  height: 195px;
}

#participantName {
  max-width: 250px;
  width: 100%;
  top: -70px;
  resize: none;
}

#participantCategory {
  font-family:'Arial';
  font-size: 30px;
  top: 55px;
}
