<div>
    <img class="svg-bg" src="assets/badge.svg" alt="" style="position: relative; width: 339.0992126px">
    <!-- <div id="participantName" class="text">pancracio bla bla bla bla bla bla</div> -->
    <!-- <div id="participantName" class="text">{{participantName}}</div> -->
    <div id="participantCategory" class="text">PARTICIPANTE</div>
    <div class="hidden-print">
      <textarea id="participantName" class="form-control text-field" maxlength="30" rows="3">{{participantName}}</textarea>
    </div>
</div>
