.badge-wrapper {
  position: absolute;
}

@media print {
  .badge-wrapper { 
    top: 0;
    left: 0;
    width: 100%
  }
  #participantName> textarea { 
    margin-top: 0 !important;
  }
}

.participantCopy > div, .participantCopy > textarea {
  position: relative;
  text-transform: uppercase;
  font-family:'Arial';
  text-align: center;
  font-size: 30px;
}

#participantName > textarea {
  margin: 0 auto;
  width: 250px;
  margin-top: -330px;
  resize: none;
  height: 195px;
}

#participantCategory {
  margin-top: 40px
}
