/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 5rem;
}

.input-group.is-invalid  ~ .invalid-feedback {
    display: block;
}

a.dropdown-item {
  cursor: pointer;
}

/*.feeback-invalid-block {
    display: block!important;
}*/

.invalid-feedback {
  display: block;
}

@media print {
  .navbar-brand{display:none !important;}
  .svg-bg{display:none;}
  .text-field{border: none !important;}
  @page {
    size: 12cm 9cm portrait;
    margin: 0;
  }
}
