/* You can add global styles to this file, and also import other style files */
.title-center {
  margin-top: 20px;
}

.title-wrapper {
  margin-bottom: 48px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .create-button {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .create-button {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .create-button {
    text-align: right;
  }
}
