<div class="row title-wrapper">
  <div class="col-12 clearfix">
    <h1 class="display-4 float-left">Participantes</h1>
    <button type="button" (click)=onNewParticipant() class="btn btn-primary btn-lg float-right">Nuevo Participante</button>
  </div>
</div>
<br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
  <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="tableFilter.lastSurname" [value]="tableFilter.lastName">
</div>
<br>
<div>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Ap. Paterno</th>
        <th>Ap. Materno</th>
        <th>Nombre</th>
        <th>Registrado</th>
        <th>Categoría</th>
        <th>A pagar (BOB)</th>
        <th>Pago</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr app-participant-item *ngFor="let participant of participants | filterBy: tableFilter; trackBy: trackPayments" [participant]="participant" [eventId]="eventId"></tr>
    </tbody>
  </table>
</div>

<ng-template #payments let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{currentParticipant.names}} {{currentParticipant.firstSurname}} Pagos</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-payments [participant]="currentParticipant"></app-payments>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div> -->
</ng-template>