<div class="row title-wrapper">
  <div class="col-12 clearfix">
    <h1 class="display-4 float-left">Participantes</h1>
    <button type="button" (click)=onNewParticipant() class="btn btn-secondary btn-lg float-right">Nuevo Participante</button>
  </div>
</div>
<div>
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Ap. Paterno</th>
        <th>Ap. Materno</th>
        <th>Nombre</th>
        <th>Registrado</th>
        <th>Categoría</th>
        <th>A pagar (BOB)</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr app-participant-item *ngFor="let participant of participants" [participant]="participant" [eventId]="eventId"></tr>
    </tbody>
  </table>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <app-qr-show></app-qr-show>
</ng-template>
<!-- <div class="modal fade" id="qrView" tabindex="-1" role="dialog" aria-labelledby="qrViewLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qrViewLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-qr-show></app-qr-show>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
